<div class="admin-header">
  <nav class="navbar navbar-dark bg-dark w-100">
    <div
      class="container d-flex align-items-center justify-content-between"
    >
      <div>
        <a class="navbar-brand me-auto" href="/admin"> Admin </a>
      </div>
      <div class="links">
        <ul
          class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0"
        >
          <div class="d-flex">
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/productes"
              >
                Mahsulotlar
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/industries"
              >
                Sanoatlar
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/services"
              >
                Xizmatlar
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/applications"
              >
                Arizalar
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/createProduct"
              >
                Mahsulot yaratish
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/createIndustry"
              >
                Sanoat yaratish
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link text-nowrap"
                aria-current="page"
                href="/admin/createService"
              >
                Xizmat yaratish
              </a>
            </li>
            <li class="nav-item">
              <button
                class="nav-link text-nowrap btn logOutButton"
                aria-current="page"
              >
                Log out
              </button>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <script src="/assets/javaScript/logout.js"></script>
</div>