<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/animateCss.css"
    />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/swiper.bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/toastify.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="w-100 navbarWrapper adminNavbar pt-0">
      <nav class="navbar navbar-dark bg-dark w-100">
        <div
          class="container d-flex align-items-center justify-content-between"
        >
          <div>
            <a class="navbar-brand me-auto" href="/admin"> Admin </a>
          </div>
          <div class="links">
            <ul
              class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0"
            >
              <div class="d-flex">
                <li class="nav-item me-4">
                  <a
                    class="nav-link text-nowrap"
                    aria-current="page"
                    href="/admin/productes"
                  >
                    Productes
                  </a>
                </li>
                <li class="nav-item me-4">
                  <a
                    class="nav-link text-nowrap"
                    aria-current="page"
                    href="/admin/categories"
                  >
                    Categories
                  </a>
                </li>
                <li class="nav-item me-4">
                  <a
                    class="nav-link text-nowrap"
                    aria-current="page"
                    href="/admin/messages"
                  >
                    Messages
                  </a>
                </li>
                <li class="nav-item me-4">
                  <a
                    class="nav-link text-nowrap"
                    aria-current="page"
                    href="/admin/createProduct"
                  >
                    Create product
                  </a>
                </li>
                <li class="nav-item me-4">
                  <a
                    class="nav-link text-nowrap"
                    aria-current="page"
                    href="/admin/CreateCategory"
                  >
                    Create category
                  </a>
                </li>
                <li class="nav-item">
                  <button class="nav-link text-nowrap btn" aria-current="page">
                    Log out
                  </button>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
