<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/animateCss.css" />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/swiper.bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/styles/libraries/toastify.css" />

    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="myLoader">
        <div class="loadingio-spinner-ripple-6sk4j73oq33">
          <div class="ldio-6co2x7efp9u">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-5 mb-2">
            <div class="card bg-transparent border-none p-2">
              <h5 class="bannerImage mb-1">Banner Image</h5>
              <input class="w-100 ms-auto service_banner_image" type="file" />
            </div>
            <hr />
            <div class="card bg-transparent border-none p-2">
              <h5 class="productImage mb-1">Product Image</h5>
              <input class="w-100 ms-auto service_product_image" type="file" />
            </div>
          </div>
          <div class="col-lg-12">
            <textarea
              placeholder="service_title_ru"
              name="service_title_ru"
              class="form-control mb-2 service_title_ru"
            ></textarea>
            <textarea
              placeholder="service_title_uz"
              name="service_title_uz"
              class="form-control mb-2 service_title_uz"
            ></textarea>
            <textarea
              placeholder="service_text_ru"
              name="service_text_ru"
              class="form-control mb-2 service_text_ru"
              id="myTextarea10"
            ></textarea>
            <p class="mb-4"></p>
            <textarea
              placeholder="service_text_uz"
              name="service_text_uz"
              class="form-control mb-2 service_text_uz"
              id="myTextarea11"
            ></textarea>
            <button class="btn btn-success d-block w-100 service_button">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/JavaScript/toastify.js"></script>
    <script src="/assets/fetchRequests/createService.js"></script>
    <script referrerpolicy="origin" src="/assets/JavaScript/tiny.js"></script>
    <script src="/assets/JavaScript/tinymce.js"></script>
  </body>
</html>
