<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/animateCss.css" />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/swiper.bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/styles/libraries/toastify.css" />

    <title>Document</title>
  </head>
  <body><%- include("AdminHeader.ejs") %>
    <div>
      <div class="myLoader">
        <div class="loadingio-spinner-ripple-6sk4j73oq33">
          <div class="ldio-6co2x7efp9u">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-5 mb-2">
            <div class="card bg-transparent border-none p-2">
              <h5 class="mb-1">Mahsulot rasmi</h5>
              <input class="w-100 ms-auto product_image" type="file" />
            </div>
            <hr />
          </div>
          <div class="col-lg-6 offset-lg-1">
            <label for="product_name_ru">Mahsulot nomi rus</label>
            <textarea
              id="product_name_ru"
              placeholder="Product name ru"
              name="product_name_ru"
              class="form-control mb-4 product_name_ru"
              cols="30"
              rows="2"
            ></textarea>
            <label for="product_name_uz">Mahsulot nomi uz</label>
            <textarea
              id="product_name_uz"
              placeholder="Product name uz"
              name="product_name_uz"
              class="form-control mb-4 product_name_uz"
              cols="30"
              rows="2"
            ></textarea>
            <label for="product_title_ru">Mahsulot title rus</label>
            <textarea
              id="product_title_ru"
              placeholder="Product title ru"
              name="product_title_ru"
              class="form-control mb-4 product_title_ru"
              cols="30"
              rows="2"
            ></textarea>
            <label for="product_title_uz">Mahsulot title uz</label>
            <textarea
              id="product_title_uz"
              placeholder="Product title uz"
              name="product_title_uz"
              class="form-control mb-4 product_title_uz"
              cols="30"
              rows="2"
            ></textarea>
            <label for="product_description_ru">Mahsulot ta'rifi rus</label>
            <textarea
              id="product_description_ru"
              placeholder="Product description ru"
              name="product_description_ru"
              class="form-control mb-4 product_description_ru"
              cols="30"
              rows="2"
            ></textarea>

            <label for="product_description_uz">Mahsulot ta'rifi uz</label>
            <textarea
              id="product_description_uz"
              placeholder="Product description uz"
              name="product_description_uz"
              class="form-control mb-4 product_description_uz"
              cols="30"
              rows="2"
            ></textarea>
            <button class="btn btn-success d-block w-100 product_button">
              Yaratish
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/javaScript/toastify.js"></script>
    <script src="/assets/fetchRequests/createProduct.js"></script>
  </body>
</html>
