<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="height: 100vh"
      class="d-flex align-items-center justify-content-center w-100"
    >
      <div class="row m-0 w-100">
        <div
          class="col-lg-4 offset-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-3 col-10 offset-1"
        >
          <div class="card text-center">
            <div class="card-header">
              <h2 class="text-dark">Register</h2>
            </div>
            <div class="card-body">
              <form method="post" action="/admin/register">
                <input
                  type="text "
                  class="form-control mb-3"
                  name="admin_email"
                  placeholder="Enter your email..."
                  required
                />
                <input
                  type="password "
                  class="form-control mb-3"
                  name="admin_password"
                  placeholder="Enter your password..."
                  required
                />
                <button class="btn btn-primary">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
