<%- include("parts/header.ejs") %>
<div class="services_page">
  <div
    class="top-main-page"
    style="
      background-image: url('../assets/images/services/main_background.jpg');
    "
  >
    <div class="container">
      <h2 class="top-main-page-title"><%= language.service[lan] %></h2>
    </div>
  </div>
  <div class="services_page-wrapper">
    <div class="container">
      <div class="row">
        <div
          data-wow-delay="0"
          data-wow-duration="0.5s"
          class="wow animate__fadeInUp col-md-4 col-sm-6 col-12 mb-sm-5 mb-4"
        >
          <a class="text-decoration-none" href="/service">
            <div class="services_page-wrapper-card">
              <div class="services_page-wrapper-card-img-box">
                <img
                  class="services_page-wrapper-card-img"
                  src="../assets/images/services/1.jpg"
                  alt="img"
                />
              </div>
              <div class="services_page-wrapper-card-content">
                <p class="services_page-wrapper-card-content-title">
                  Утилизация медицинских отходов
                </p>
              </div>
            </div>
          </a>
        </div>
        <div
          data-wow-delay="0.04s"
          data-wow-duration="0.5s"
          class="wow animate__fadeInUp col-md-4 col-sm-6 col-12 mb-sm-5 mb-4"
        >
          <div class="services_page-wrapper-card">
            <div class="services_page-wrapper-card-img-box">
              <img
                class="services_page-wrapper-card-img"
                src="../assets/images/services/2.jpg"
                alt="img"
              />
            </div>
            <div class="services_page-wrapper-card-content">
              <p class="services_page-wrapper-card-content-title">
                Утилизация фармацевтических отходов
              </p>
            </div>
          </div>
        </div>
        <div
          data-wow-delay="0.08s"
          data-wow-duration="0.5s"
          class="wow animate__fadeInUp col-md-4 col-sm-6 col-12 mb-sm-5 mb-4"
        >
          <div class="services_page-wrapper-card">
            <div class="services_page-wrapper-card-img-box">
              <img
                class="services_page-wrapper-card-img"
                src="../assets/images/services/3.jpg"
                alt="img"
              />
            </div>
            <div class="services_page-wrapper-card-content">
              <p class="services_page-wrapper-card-content-title">
                Утилизация пищевых отходов
              </p>
            </div>
          </div>
        </div>
        <div
          data-wow-delay="0"
          data-wow-duration="0.5s"
          class="wow animate__fadeInUp col-md-4 col-sm-6 col-12 mb-md-0 mb-sm-5 mb-4"
        >
          <div class="services_page-wrapper-card">
            <div class="services_page-wrapper-card-img-box">
              <img
                class="services_page-wrapper-card-img"
                src="../assets/images/services/4.jpg"
                alt="img"
              />
            </div>
            <div class="services_page-wrapper-card-content">
              <p class="services_page-wrapper-card-content-title">
                Утилизация косметологических отходов
              </p>
            </div>
          </div>
        </div>
        <div
          data-wow-delay="0.04s"
          data-wow-duration="0.5s"
          class="wow animate__fadeInUp col-md-4 col-sm-6 col-12 mb-sm-0 mb-4"
        >
          <div class="services_page-wrapper-card">
            <div class="services_page-wrapper-card-img-box">
              <img
                class="services_page-wrapper-card-img"
                src="../assets/images/services/5.jpg"
                alt="img"
              />
            </div>
            <div class="services_page-wrapper-card-content">
              <p class="services_page-wrapper-card-content-title">
                Утилизация биологически опасных отходов
              </p>
            </div>
          </div>
        </div>
        <div
          data-wow-delay="0.08s"
          data-wow-duration="0.5s"
          class="wow animate__fadeInUp col-md-4 col-sm-6 col-12 mb-sm-0"
        >
          <div class="services_page-wrapper-card">
            <div class="services_page-wrapper-card-img-box">
              <img
                class="services_page-wrapper-card-img"
                src="../assets/images/services/6.jpg"
                alt="img"
              />
            </div>
            <div class="services_page-wrapper-card-content">
              <p class="services_page-wrapper-card-content-title">
                Утилизация промышленных отходов
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("parts/footer.ejs") %>
